.root {
 width: 200px; 
 height: 200px;
}

.test{
    width: 0;
    height: 0;
    border-width: 30px;
    border-style: solid;
    border-top-color:#f5222d ;
    border-left-color:#fadb14 ;
    border-bottom-color:#1890ff ;
    border-right-color:#eb2f96 ;
}

.test2{
    height: 20px;
    border-width: 30px  ;
    border-style: solid;
    border-top-color:#f5222d ;
    border-bottom-color:#1890ff ;
}

.test3{
  width: 0;
  border-width: 30px ;
  border-color: transparent transparent transparent;
}